@font-face {
    font-family: "Nazanin";
    src: url("../fonts/Nazanin.eot") format("eot"),
    url("../fonts/Nazanin.ttf") format("ttf"),
    url("../fonts/Nazanin.woff") format("woff");
}

@font-face {
    font-family: "Yekan";
    src: url("../fonts/Yekan.woff2") format("woff2");
}

@font-face {
    font-family: "Nastaliq";
    src: url("../fonts/IranNastaliq.ttf") format("ttf");
}

@font-face {
    font-family: "Koodak";
    src: url("../fonts/KoodakBold.eot") format("eot"),
    url("../fonts/KoodakBold.ttf") format("eot"),
    url("../fonts/KoodakBold.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* h1, h2, h3, h4, h5, h6 {
    font-family: "Nastaliq", Tahoma, monospace;
    line-height: 3rem;
    margin: 16px 0;
}

/*------------START HEADER STYLE------------*/
.default {
    font-family: "Nastaliq", sans-serif;
    font-size: 1.2rem;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background: linear-gradient(45deg, #659999, #f4791f);
}

.carousel-indicators [data-bs-target] {
    border: 2px solid white;
    border-radius: 5px;
    width: 12px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.1);
}

.carousel-indicators [data-bs-target].active {
    background-color: crimson;
    border: 2px solid crimson;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: crimson;
}

.header-title {
    position: absolute;
    top: 20%;
    z-index: 2;
    color: white;
}

/*------------START ABOUT US BOX STYLE------------*/
.about-us-box {
    background-image: url("../images/about-us-box-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


/*------------Text Section Style------------*/
.sec-text {
    position: relative;
    padding: 100px 0;
}

.wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.img-fix {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-image: url("../images/qt-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tab-pane .card {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.card:hover .description {
    bottom: 0;
}

.description {
    position: absolute;
    left: 0;
    bottom: -100%;
    right: 0;
    height: 100%;
    background-color: rgba(207, 166, 113, 0.7);
    padding: 12px 12px;
    transition: all 0.3s ease;
}

.gallery-boxes {
    border: 2px solid red !important;
    margin-bottom: 20px;
}

.gallery-boxes:hover {
    transform: scale(1.03, 1.03);
    transition: all 0.3s ease-in-out;
    border: none !important;
}

.icon-img {
    width: 130px;
    height: 130px;
}


.carousel-img {
    width: 200px;
}

.rounded-circle {
    height: 200px;
    border: 16px solid gray;
    border-radius: 50%;
    box-shadow: 0 0 2px #5f5f5f, 0 0 0 5px #ecf0f3,
    8px 8px 15px #afaaa7, -8px -8px 15px #fff;
}

.carousel-item p {
    margin-bottom: 80px;
}

/*------------Contact With Us Style------------*/
.address {
    width: 100%;
    background: linear-gradient(220deg, #ad5389, #3c1053);
    border-radius: 40px;
    padding: 20px;
    color: white;
    box-shadow: inset 8px 10px 8px #ad5389, inset -15px -10px 10px #3c1053;
}

.fa-phone-volume, .fa-map-marker-alt, .fa-envelope {
    color: orangered;
    border: 2px solid white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 50%;
    box-shadow: 0 0 2px #ad5389, 0 0 0 5px #3c1053,
    8px 8px 15px #3c1053, -8px -8px 15px #ad5389;
}

.svg-inline--fa.fa-w-12 {
    width: 1em;
}


/*------------Start Footer Style------------*/
.footer {
    background-color: black;
    background-image: url("../images/footer-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: initial;
    background-origin: initial;
    background-size: cover;
    background-position: center;
    position: relative;
}

.footer {
    position: relative;
    /*padding: 200px 0;*/
}

.bg-img-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.img-fix-footer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-image: url("../images/qt-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-dark-footer {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 0;
}

.subscribe input[type=email] {
    width: 100%;
    direction: rtl !important;
    margin-bottom: 16px;
    padding: 8px 0;
    background: linear-gradient(45deg, #3C3B3F, #605C3C);
    color: white;
    text-indent: 20px;
    font-family: "Nazanin", sans-serif;
    font-size: 1.4rem;

}

.subscribe input[type=email]::placeholder {
    color: white;
}


/*------------Start Header Style All Pages------------*/
.landing-img-fix {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 70vh;
    z-index: -1;
}

.img-box-fix {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.img-fixed {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/all-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-dark-opacity {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 0;
}

.header-title-pages {
    width: 100%;
    position: absolute;
    top: 40%;
    z-index: 1;
    color: white;
}


/*background-image: linear-gradient( 109.6deg,  rgba(72,200,160,1) 11.2%, rgba(32,40,48,1) 91.3% );*/
